{% extends '@KnpMenu/menu.html.twig' %}
{% set debug = options['debug']|default(false) %}
{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('list') -}}
{% endblock %}

{% block list %}
    {% set depth = depth is defined ? depth + 1 : 0 %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% if item.isRoot %}
            {%- set listAttributes = options['rootAttributes'] -%}
        {% else %}
            {%- set listAttributes = listAttributes|merge({
                class: html_classes(listAttributes.class|default(null), 'nav-treeviewXX')
            }) -%}
        {% endif %}
        <ul {{ html_attr(listAttributes) }}>
            {{ block('children') }}
        </ul>
        {% set depth = depth - 1 %}
    {% endif %}
{% endblock %}

{% block linkElement %}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class'), 'nav-item'] : ['nav-item'] %}
    <!-- linkElement -->

    {%- set attributes = item.linkAttributes %}
    {% set currentClass = matcher.isCurrent(item) ? options.currentClass : null %}
    {% if matcher.isCurrent(item) %}
        {%- set classes = classes|default([])|merge([options.currentClass]) %}
    {% endif %}

    {# there's probably a way to pass this in via render_sidebar.html.twig, but not sure how! #}
    {% set attributes = attributes|merge({
        class: html_classes(attributes.class|default(null), currentClass, options.link_class),
        href: item.uri
    }) %}

    <a {{ html_attr(attributes) }}>
        {% if item.attribute('data-icon') is not empty  %}
            <span class="{{ item.attribute('data-icon') }}"></span>
        {% endif %}
        {{ block('label') }}
    </a>
{% endblock %}

{% block item %}

    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                <!-- branch, has leaves ({{  matcher.isAncestor(item, options.matchingDepth) ? 'open' : 'closed' }}) -->
                {% set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            <!-- has leaf_class -->
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': html_classes(attributes.class|default(null), classes)}) %}
        {%- endif %}
        {# displaying the item #}
        <li {{ html_attr(attributes) }}>
            {# if uri is set, it must be a leaf. #}
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {% if item.hasChildren %}
                <!-- collapsible {{  matcher.isAncestor(item, options.matchingDepth) ? 'ancestor' : 'not ancestor' }}-->
                <a class=" nav-link {{ matcher.isAncestor(item, options.matchingDepth)? ' active' }}">
                    <!-- icon -->
                    <span class="nav-icon {{ item.attribute('data-icon') is not empty ? item.attribute('data-icon') : 'fas fa-circle' }}"></span>

                    <p>
                        {{ block('spanElement') }}
                        <span class="end fas fa-angle-left"></span>
                    </p>
                </a>
                {% else %}
                    {{ block('spanElement') }}
                {% endif %}

            {%- endif %}
            {# render the list of children#}
            {%- set listAttributes = item.childrenAttributes|merge({
                class: html_classes(item.childrenAttribute('class'), 'nav-treeview', 'menu_level_' ~ item.level)
            }) %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock %}


{% block spanElement %}
    <!-- spanElement, includes label -->
    <span {{ html_attr(item.labelAttributes) }}>{{ block('label') }}</span>
{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %} {% endblock %}


{% macro badges(item) %}
    {% import _self as selfMacros %}
    {% if item.getExtra('badge') is not null %}
        {{ selfMacros.badge(item.getExtra('badge')) }}
    {% elseif item.getExtra('badges') is not null %}
        {% for badge in item.getExtra('badges') %}
            {{ selfMacros.badge(badge) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro badge(badge) %}
    <div class="mm-counter"><span class="badge badge-{{ badge.color|default('success') }}">{{ badge.value }}</span></div>
{% endmacro %}
