{# @SurvosTabler/components/page.html.twig v2.4 - Orchestrator #}
{% set _layout = this.layout|default('horizontal') %}

{# Prefer identity-driven container; allow override by component #}
{% set id = tabler_identity ?? {} %}
{% set containerClass = (id.header.container ?? this.containerClass ?? 'container-fluid') %}

<!doctype html>
<html lang="{{ app.request.locale|default('en') }}"{% if _layout == 'rtl' %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{{ this.resolvedTitle ?: (id.title|default('Tabler')) }}{% endblock %}</title>
    {% if id.description is defined and id.description %}<meta name="description" content="{{ id.description }}">{% endif %}
    {% if id.meta is defined and id.meta.theme_color is defined and id.meta.theme_color %}<meta name="theme-color" content="{{ id.meta.theme_color }}">{% endif %}
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
</head>

<body class="{{ this.pageClass }}">
{% block body_start %}{% endblock %}

{% block banner %}
    {% if tabler_menu_has_items(BANNER) %}
        <div class="tblr-banner">
            {{ component('tabler:menu', {type: BANNER, caller: _self, options: {layout: this.layout}}) }}
            <div class="tblr-banner-close" data-bs-dismiss="alert">{{ ux_icon('tabler:x') }}</div>
        </div>
    {% endif %}
{% endblock %}

<div class="page">

    {{ include('@SurvosTabler/components/page/_navbar_top.html.twig', {containerClass: containerClass, _layout: _layout}) }}
    {{ include('@SurvosTabler/components/page/_navbar_secondary.html.twig', {containerClass: containerClass, _layout: _layout}) }}

    <div class="page-wrapper">
        {% block page_header %}
            {% if this.resolvedTitle or tabler_menu_has_items(PAGE_NAV) or tabler_menu_has_items(PAGE_ACTIONS) %}
                <div class="page-header d-print-none">
                    <div class="{{ containerClass }}">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                {% if this.resolvedPretitle %}<div class="page-pretitle">{{ this.resolvedPretitle }}</div>{% endif %}
                                {% if this.resolvedTitle %}<h2 class="page-title">{{ this.resolvedTitle }}</h2>{% endif %}
                            </div>
                            {% if tabler_menu_has_items(PAGE_ACTIONS) %}
                                <div class="col-auto ms-auto d-print-none">
                                    <div class="btn-list">
                                        {{ component('tabler:menu', {type: PAGE_ACTIONS, caller: _self, options: {layout: this.layout}}) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if tabler_menu_has_items(PAGE_NAV) %}
                            <div class="mt-3">
                                <ul class="nav nav-tabs nav-pills border rounded-3 p-2 gap-1">
                                    {{ component('tabler:menu', {type: PAGE_NAV, caller: _self, options: {layout: this.layout}}) }}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        <div class="page-body">
            <div class="{{ containerClass }}">
                {% block content %}{{ block('_content') }}{% endblock %}
            </div>
        </div>

        {{ include('@SurvosTabler/components/page/_footer.html.twig', {containerClass: containerClass, _layout: _layout}) }}
    </div>
</div>

{% block javascripts %}{{ importmap('app') }}{% endblock %}
{% block body_end %}{% endblock %}
</body>
</html>
