{# @SurvosTabler/menu/actions.html.twig - Page action buttons #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
{{ block('children') }}
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    {% set resolvedIcon = icon ? (':' in icon ? icon : 'tabler:' ~ icon) : null %}
    <li class="nav-item">
        <a href="{{ item.uri }}"
           class="nav-link rounded {% if matcher.isCurrent(item) %} active{% endif %}">

            {% if resolvedIcon %}
                {{ ux_icon(resolvedIcon, {class: 'icon me-1'}) }}
            {% endif %}

            {{ block('label') }}
        </a>
    </li>
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
