{# @SurvosTabler/menu/auth.html.twig - User dropdown menu #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
{% set debugChild = item.children|filter(child => child.extra('debug_menu_slot'))|first %}
{% if not debugChild %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm">{{ ux_icon('tabler:user') }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            {{ block('children') }}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    {% set divider = item.getExtra('divider') %}
    
    {% if divider %}
        <div class="dropdown-divider"></div>
    {% else %}
        {% set resolvedIcon = icon ? (':' in icon ? icon : 'tabler:' ~ icon) : null %}
        {% if not item.getExtra('debug_menu_slot') %}
            <a class="dropdown-item" href="{{ item.uri }}">
                {% if resolvedIcon %}{{ ux_icon(resolvedIcon, {class: 'icon dropdown-item-icon'}) }}{% endif %}
                {{ block('label') }}
            </a>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
