{# @SurvosTabler/menu/breadcrumb.html.twig #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ block('children') }}
    </ol>
</nav>
{% endblock %}

{% block item %}
{% if item.displayed %}
    <li class="breadcrumb-item{% if item.isCurrent %} active{% endif %}"{% if item.isCurrent %} aria-current="page"{% endif %}>
        {% if item.uri and not item.isCurrent %}
            <a href="{{ item.uri }}">
                {% if item.extra('icon') %}
                    {{ ux_icon(item.extra('icon'), {class: 'icon me-1'}) }}
                {% endif %}
                {{ block('label') }}
            </a>
        {% else %}
            {{ block('label') }}
        {% endif %}
    </li>
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
