{# @SurvosTabler/menu/footer.html.twig - Footer links #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block list %}
<ul {{ html_attr(listAttributes) }}>
    {{ block('children') }}
</ul>
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    <li class="list-inline-item">
        <a class="link-secondary" href="{{ item.uri }}"{% if item.linkAttribute('target') %} target="{{ item.linkAttribute('target') }}"{% endif %}>
            {% if icon %}{{ ux_icon('tabler:' ~ icon, {class: 'icon'}) }}{% endif %}
            {{ block('label') }}
        </a>
    </li>
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
