{# @SurvosTabler/menu/footer.html.twig - Footer links #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block list %}
<ul {{ html_attr(listAttributes) }}>
    {{ block('children') }}
</ul>
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    {% set resolvedIcon = icon ? (':' in icon ? icon : 'tabler:' ~ icon) : null %}
    {% if not item.getExtra('debug_menu_slot') %}
    <li class="list-inline-item">
            <a class="link-secondary" href="{{ item.uri }}"{% if item.linkAttribute('target') %} target="{{ item.linkAttribute('target') }}"{% endif %}>
                {% if resolvedIcon %}{{ ux_icon(resolvedIcon, {class: 'icon'}) }}{% endif %}
                {{ block('label') }}
            </a>
    </li>
    {% endif %}
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
