{# @SurvosTabler/menu/navbar.html.twig - Horizontal navbar menu #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block list %}
    {% import _self as knp_menu %}

    {% set ra = options.rootAttributes|default({}) %}
    {% set merged = listAttributes|merge(ra) %}

    {# Tabler reference: ul.navbar-nav (do NOT force flex-row here) #}
    {% set merged = merged|merge({ class: html_classes(merged.class|default(null), 'navbar-nav') }) %}

    <ul {{ html_attr(merged) }}>
        {{ block('children') }}
    </ul>
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {%- set is_dropdown = item.hasChildren and options.depth is not same as(0) -%}
        {%- set icon = item.getExtra('icon') -%}
        {%- set badge = item.getExtra('badge') -%}
        {%- set badgeValue = badge.value|default(badge) -%}

        <li class="nav-item{% if is_dropdown %} dropdown{% endif %}{% if item.isCurrent %} active{% endif %}">
            {% if is_dropdown %}
                <a class="nav-link dropdown-toggle"
                   href="#navbar-{{ item.name|slug }}"
                   data-bs-toggle="dropdown"
                   data-bs-auto-close="outside"
                   role="button"
                   aria-expanded="false">
                    {% if icon %}{{ ux_icon(icon, {class: 'icon icon-1'}) }}{% endif %}
                    <span class="nav-link-title">{{ block('label') }}</span>
                </a>

                <div class="dropdown-menu">
                    {% for child in item.children %}
                        {% with { item: child } %}
                            {{ block('dropdown_item') }}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% else %}
                <a class="nav-link" href="{{ item.uri }}">
                    {% if icon %}{{ ux_icon(icon, {class: 'icon icon-1'}) }}{% endif %}
                    <span class="nav-link-title">{{ block('label') }}</span>
                    {% if badgeValue %}
                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ badgeValue }}</span>
                    {% endif %}
                </a>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block dropdown_item %}
    {%- set icon = item.getExtra('icon') -%}
    {%- set badge = item.getExtra('badge') -%}
    {%- set badgeValue = badge.value|default(badge) -%}

    {% if item.hasChildren %}
        <div class="dropend">
            <a class="dropdown-item dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown"
               data-bs-auto-close="outside"
               role="button"
               aria-expanded="false">
                {% if icon %}{{ ux_icon(icon, {class: 'icon dropdown-item-icon'}) }}{% endif %}
                {{ block('label') }}
            </a>

            <div class="dropdown-menu">
                {% for child in item.children %}
                    {% with { item: child } %}
                        {{ block('dropdown_item') }}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a class="dropdown-item" href="{{ item.uri }}">
            {% if icon %}{{ ux_icon(icon, {class: 'icon dropdown-item-icon'}) }}{% endif %}
            {{ block('label') }}
            {% if badgeValue %}
                <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">{{ badgeValue }}</span>
            {% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- if translation_domain is not same as(false) -%}
        {{ item.label|trans({}, translation_domain) }}
    {%- else -%}
        {{ item.label }}
    {%- endif -%}
{% endblock %}
