{# templates/menu/tabler_navbar.html.twig v1.0 #}
{# Tabler navbar menu template for KnpMenu - renders horizontal nav with dropdowns #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes|merge({class: html_classes(item.childrenAttributes.class|default(null), 'navbar-nav')}) %}
    {{ block('list') }}
{% endblock %}

{% block item %}
    {% import _self as knp %}
    {% set isSubmenu = item.extras.submenu|default(false) or item.hasChildren %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {# rendered in {{ _self }} #}
    <li class="nav-item{% if isSubmenu %} dropdown{% endif %}{% if matcher.isCurrent(item) %} active{% endif %}">
        {% if isSubmenu %}
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                {% if iconName %}{{ icon(iconName, {class: 'icon'}) }}{% endif %}
                <span class="nav-link-title">{{ block('label') }}</span>
            </a>
            <div class="dropdown-menu">
                {% for child in item.children %}
                    {{ knp.render_dropdown_item(child, matcher, options) }}
                {% endfor %}
            </div>
        {% else %}
            <a class="nav-link" href="{{ item.uri }}"{% if item.linkAttributes.target|default(false) %} target="{{ item.linkAttributes.target }}"{% endif %}>
                {% if iconName %}{{ icon(iconName, {class: 'icon'}) }}{% endif %}
                <span class="nav-link-title">{{ block('label') }}</span>
                {% if item.extras.badge is defined %}
                    <span class="badge bg-primary ms-2">{{ item.extras.badge }}</span>
                {% endif %}
            </a>
        {% endif %}
    </li>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels|default(false) and item.extras.safe_label|default(false) %}
        {{ item.label|trans(item.extras.translation_params|default({}), item.extras.translation_domain|default('messages'))|raw }}
    {% else %}
        {{ item.label|trans(item.extras.translation_params|default({}), item.extras.translation_domain|default('messages')) }}
    {% endif %}
{% endblock %}

{% macro render_dropdown_item(item, matcher, options) %}
    {% import _self as knp %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {# rendered in templates/menu/tabler_navbar.html.twig #}
    {% if item.extras.divider|default(false) %}
        <div class="dropdown-divider"></div>
    {% elseif item.hasChildren %}
        <div class="dropend">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                {% if iconName %}{{ icon(iconName, {class: 'icon dropdown-item-icon'}) }}{% endif %}
                {{ item.label|trans({}, item.extras.translation_domain|default('messages')) }}
            </a>
            <div class="dropdown-menu">
                {% for child in item.children %}
                    {{ knp.render_dropdown_item(child, matcher, options) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a class="dropdown-item{% if matcher.isCurrent(item) %} active{% endif %}" href="{{ item.uri }}"{% if item.linkAttributes.target|default(false) %} target="{{ item.linkAttributes.target }}"{% endif %}>
            {% if iconName %}{{ icon(iconName, {class: 'icon dropdown-item-icon'}) }}{% endif %}
            {{ item.label|trans({}, item.extras.translation_domain|default('messages')) }}
        </a>
    {% endif %}
{% endmacro %}
