{# templates/menu/tabler_auth.html.twig v1.0 #}
{# Tabler auth menu - for login/logout/profile in navbar #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    <div class="nav-item dropdown">
        {% for child in item.children %}
            {{ block('item') }}
        {% endfor %}
    </div>
{% endblock %}

{% block item %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {# rendered in {{ _self }} #}
    {% if item.hasChildren %}
        {# User dropdown #}
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-expanded="false">
            {% if item.extras.avatar is defined %}
                <span class="avatar avatar-sm" style="background-image: url({{ item.extras.avatar }})"></span>
            {% else %}
                <span class="avatar avatar-sm">{{ icon('tabler:user') }}</span>
            {% endif %}
            <div class="d-none d-xl-block ps-2">
                <div>{{ item.label }}</div>
                {% if item.extras.subtitle is defined %}
                    <div class="mt-1 small text-secondary">{{ item.extras.subtitle }}</div>
                {% endif %}
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            {% for child in item.children %}
                {% set childIcon = child.extras.icon|default(null) %}
                {% if child.extras.divider|default(false) %}
                    <div class="dropdown-divider"></div>
                {% else %}
                    {% set childDomain = child.extra('translation_domain', 'messages') %}
                    <a class="dropdown-item" href="{{ child.uri }}">
                        {% if childIcon %}{{ icon(childIcon, {class: 'icon dropdown-item-icon'}) }}{% endif %}
                        {{ childDomain is same as(false) ? child.label : child.label|trans({}, childDomain) }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {# Simple link (login, etc) #}
        {% set domain = item.extra('translation_domain', 'messages') %}
        <a class="nav-link" href="{{ item.uri }}">
            {% if iconName %}{{ icon(iconName, {class: 'icon'}) }}{% endif %}
            <span class="nav-link-title">{{ domain is same as(false) ? item.label : item.label|trans({}, domain) }}</span>
        </a>
    {% endif %}
{% endblock %}
