{# templates/menu/tabler_actions.html.twig v1.0 #}
{# Tabler page action buttons #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    <div class="btn-list">
        {% for child in item.children %}
            {{ block('item') }}
        {% endfor %}
    </div>
{% endblock %}

{% block item %}
    {% set iconName = item.extras.icon|default(null) %}
    {% set btnClass = item.extras.btn_class|default('btn-primary') %}
    
    {# rendered in {{ _self }} #}
    {% if not item.extras.debug_menu_slot|default(false) %}
        <a href="{{ item.uri }}" class="btn {{ btnClass }}"{% if item.linkAttributes.target|default(false) %} target="{{ item.linkAttributes.target }}"{% endif %}>
            {% if iconName %}{{ icon(iconName, {class: 'icon'}) }}{% endif %}
            {{ item.label|trans({}, item.extras.translation_domain|default('messages')) }}
        </a>
    {% endif %}
{% endblock %}
